

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d8703362;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.textargs{
    margin:auto;
    border-radius: 20pc;
    padding: 2pc;
    max-width: 600cqi;
}
